body {
    font-family: Raleway Semibold;
    color: black;
    background-color: #a99c81;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background-color: #565449;
    color: black;
    padding: 20px;
    text-align: center;
}
header h1 {
        margin: 0;
    }
nav a {
    color: black;
    text-decoration: Semibold;
    margin: 0 10px;
} 
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}



main img {
    max-width: 500px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 20px 0;
}
footer {
    background-color: #565449;
    color: #11120D;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
p {
    font-size: 1.1em;
}
a {
    color: floralwhite;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border: 5px solid black;
    border-radius: 10px;
}
main a[href^="mailto:"] {
    color: hsl(0, 17%, 13%);
    font-weight: bold;
} 
a.btn {
    background-color: #565449;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a.btn:hover {
    background-color: #11120D;
}
.card {
    background-color: #565449;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
body, html {
    height: 100%;
}